{{> header_principal}}
<link rel="stylesheet" href="../css/dragImage/index.css">
<section class="c-profile">
    <article class="container mx-auto md:flex">
        {{> seller/options_seller }}
        <form class="c-profile-seller__form--content py-14 w-11/12 md:w-2/4" name="createProduct">
            <div id="next_reg" class="c-profile__reg-steps w-full" data-store-id="{{store.id}}">
                <div id="reg-step-1" class="c-profile__reg-step">
                    <p class="c-profile-seller__form--title">Editar producto {{product.dataValues.titulo}}</p>
                    <div class="c-profile-seller__input">
                        <input list="category" value="{{product.dataValues.id_categoria}}" id="categoria_producto" placeholder="Categoría" name="id_categoria">
                        <datalist id="category"></datalist>
                    </div>
                    <div class="c-profile-seller__input">
                        <input list="mark" id="marca_producto" value="{{product.dataValues.id_marca}}" placeholder="Marcas" name="id_marca">
                        <datalist id="mark"> </datalist>
                    </div>
                    <div class="c-profile-seller__input">
                        <input placeholder="Título:" value="{{product.dataValues.titulo}}" id="titulo_producto" type="text" name="titulo" required>
                    </div>
                    <div class="c-profile-seller__input">
                        <input placeholder="Stock:" value="{{product.dataValues.stock}}" type="number" id="stock_producto" type="text" name="stock" required>
                    </div>
                    <div class="c-profile-seller__input">
                        <input placeholder="Precio unidad:" value="{{product.dataValues.precio}}" type="number" id="precio_producto" type="text" name="precio"
                            required>
                    </div>
                    <div class="c-profile-seller__input">
                        <textarea placeholder="Descripción"  name="descripcion" id="descripcion_producto" cols="30"
                            rows="5">{{product.dataValues.descripcion}}</textarea>
                    </div>
                    <div class="c-profile-seller__input">
                        <textarea placeholder="Detalle" name="detalle" id="detalle_producto" cols="30"
                            rows="5">{{product.dataValues.detalle}}</textarea>
                    </div>
                    <div class="grid grid-cols-3 gap-4 pb-8">
                        <div class="border-4 border-pink-400 flex items-center justify-center w-full rounded"
                            aria-disabled="false" id="areafileproducts" data-id-image="1">
                            <div class="sc-ui-image-uploader__container" style="position:relative" role="button"
                                tabindex="0">
                                {{> svgs/icon-dragImage}}
                                <a class="sc-ui-image-uploader__link">Agrega o arrastrar</a>
                                <img class="imagen-carga" src="{{product.dataValues.imagen}}">
                            </div>
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
                                type="file" multiple=""  autocomplete="off" style="display: none;">
                        </div>
                        <div class="border-4 border-pink-400 flex items-center justify-center w-full rounded"
                            aria-disabled="false" id="areafileproducts" data-id-image="2">
                            <div class="sc-ui-image-uploader__container" style="position:relative" role="button"
                                tabindex="0">
                                {{> svgs/icon-dragImage}}
                                <a class="sc-ui-image-uploader__link">Agrega o arrastrar</a>
                            </div>
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
                                type="file" multiple="" autocomplete="off" style="display: none;">
                        </div>
                        <div class="border-4 border-pink-400 flex items-center justify-center w-full rounded"
                            aria-disabled="false" id="areafileproducts" data-id-image="3">
                            <div class="sc-ui-image-uploader__container" style="position:relative" role="button"
                                tabindex="0">
                                {{> svgs/icon-dragImage}}
                                <a class="sc-ui-image-uploader__link">Agrega o arrastrar</a>
                            </div>
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
                                type="file" multiple="" autocomplete="off" style="display: none;">
                        </div>
                        <div class="border-4 border-pink-400 flex items-center justify-center w-full rounded"
                            aria-disabled="false" id="areafileproducts" data-id-image="4">
                            <div class="sc-ui-image-uploader__container" style="position:relative" role="button"
                                tabindex="0">
                                {{> svgs/icon-dragImage}}
                                <a class="sc-ui-image-uploader__link">Agrega o arrastrar</a>
                            </div>
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
                                type="file" multiple="" autocomplete="off" style="display: none;">
                        </div>
                        <div class="border-4 border-pink-400 flex items-center justify-center w-full rounded"
                            aria-disabled="false" id="areafileproducts" data-id-image="5">
                            <div class="sc-ui-image-uploader__container" style="position:relative" role="button" tabindex="0">
                                {{> svgs/icon-dragImage}}
                                <a class="sc-ui-image-uploader__link">Agrega o arrastrar</a>
                            </div>
                            <input
                                accept="image/jpg, image/jpeg, image/png, image/webp, image/JPG, image/JPEG, image/PNG, image/WEBP"
                                type="file" multiple="" autocomplete="off" style="display: none;">
                        </div>
                        <input type="text" style="display: none;" data-id-image="1">
                        <input type="text" style="display: none;" data-id-image="2">
                        <input type="text" style="display: none;" data-id-image="3">
                        <input type="text" style="display: none;" data-id-image="4">
                        <input type="text" style="display: none;" data-id-image="5">
                    </div>
                    <button class="c-profile-seller--button" type="button" data-type-button="form">Registrar</button>
                </div>
            </div>
        </form>
    </article>
</section>

<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.2.0/firebase-storage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="../js/dragImageProduct.js"></script>
<script src="../js/uploadImage.js"></script>
<script src="../js/fetchData.js"></script>
<script src="../js/fetchCreateProduct.js"></script>
<script>
    document.getElementById("categoria_producto").addEventListener("blur", (e) => { getId(e, "category") });
    document.getElementById("marca_producto").addEventListener("blur", (e) => { getId(e, "mark") });
    function getId(e, id) {
        if (document.querySelector(`#${id} option[value="${e.target.value}"]`)) {
            return e.target.dataset.idValue = document.querySelector(`#${id} option[value="${e.target.value}"]`).innerHTML;
        }
        e.target.dataset.idValue = undefined;
    }
</script>
{{> footer}}