{{> header_principal}}
<section class="c-profile">
    <article class="c-profile__content">
        {{> seller/options_seller }}
        <div class="div-profile py-10">
            <div class="c-list__t w-11/12 mx-auto">
                <select class="w-55 h-10 border-2 px-2 border-black rounded ml-4 mt-5 mb-10" name="">
                    {{#each states}}
                    <option value="{{this.dataValues.id}}">{{this.dataValues.estado}}</option>
                    {{/each}}
                </select>
                <div class="c-list__t-body grid grid-cols-7 gap-2" style="border-bottom: 1px solid rgb(194, 194, 194);">
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b></b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Titulo</b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Stock</b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Precio</b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Categoría</b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Marca</b></p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p"><b>Estado</b></p>
                    </div>
                </div>
                {{#each products}}
                <div class="c-list__t-body grid grid-cols-7 gap-2" style="border-bottom: 1px solid rgb(194, 194, 194);">
                    <div class="c-list__column">
                        <input type="checkbox" name="" id="">
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.titulo}}</p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.stock}}</p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.precio}}</p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.categoria}}</p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.marca}}</p>
                    </div>
                    <div class="c-list__column">
                        <p class="c-list__column--p">{{this.estado}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </article>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="../js/messagesAlerts.js"></script>
{{#if error}}
<script>
    error("{{error}}")
</script>
{{/if}}
{{#if success}}
<script>
    success("{{success}}")
</script>
{{/if}}
{{> footer}}