{{> header_principal}}

<div class="c-list-product flex justify-center w-full mx-auto">
    <section class="c-list-products md:flex justify-between py-8"></section>
      <aside class="c-filter shadow-2xl w-3/12 mr-4">
            <h2 class="c-filter--h2">Filtros</h2>
            <ul class="c-filter__ul">
                <p class="c-filter--brand">Marca</p>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" id="cbox1" value="first_checkbox">
                    <p>Louis</p>
                </li>
            </ul>
            <ul class="c-filter__ul">
                <p class="c-filter--brand">Precio</p>
                <input type="range" min="5" max="10" step="0.01">
            </ul>
        </aside>
    {{#if products}}
        {{!-- c-list-products__grid --}}
        <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-10/12 mx-auto md:w-9/12">
            {{#each products}}
            <a class="c-list-products__grid--a shadow-lg" href="/product/{{this.dataValues.id}}">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="w-full h-full object-center object-cover" src="{{this.dataValues.imagen}}">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">${{this.dataValues.precio}}</p>
                            <p class="c-list-products--brand">{{this.marca}}</p>
                            <p class="c-list-products--name">
                                {{this.dataValues.titulo}} - {{this.dataValues.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </article>
    {{else}}
    <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-10/12 mx-auto md:w-9/12">
        <img src="{{URL}}/images/vacio.png" class="w-10/12 mx-auto md:w-9/12" alt="No se encontraron productos">
    </article>
    {{/if}}
    </section>
</div>

<script src="js/modal-category.js"></script>
{{> footer}}