{{> header_principal}}
<div class="c-list-product flex justify-center w-full mx-auto">
    <section class="c-list-products md:flex justify-between py-8">
        <div class="c-filter-title-h2 mx-auto" style="width: 83.2%">
            <h2 onclick="filter()" class="c-filter--h2">Filtros</h2>
        </div>
        <aside class="c-filter shadow-2xl mr-4">
            <div class="flex items-center justify-between mx-auto w-3/4 pt-10 pb-4">
                <h2 class="text-2xl">Filtros</h2>
                <i onclick="filter()" class="cursor-pointer fas fa-times text-2xl bg-red-500 hover:bg-black duration-300 text-white py-1 px-2 rounded"></i>
            </div>
            <ul class="c-filter__ul">
                <p class="c-filter--brand">Marca</p>
                {{#each Marks}}
                <li class="c-filter__li">
                    <input class="c-filter__li--input" type="checkbox" onclick="filtrar();" name="cboxname" id="cbox1"
                        value="{{this.dataValues.id}}">
                    <p>{{this.dataValues.nombre}}</p>
                </li>
                {{/each}}
            </ul>
            <ul class="c-filter__ul">
                <p class="c-filter--brand">Precio</p>
                <input onclick="filtrar();" type="range" name="price" id="price" min="0" max="1500000" value="0" step="100">
                <output class="price-output" for="price"></output>
            </ul>
        </aside>
        {{#if products}}
        {{!-- c-list-products__grid --}}
        <article class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 w-10/12 mx-auto md:w-9/12"
            id="productosJSON">
            {{#each products}}
            <a class="c-list-products__grid--a shadow-lg" href="/product/{{this.dataValues.id}}">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="w-full h-full object-center object-cover" src="{{this.dataValues.imagen}}">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">${{this.dataValues.precio}}</p>
                            <p class="c-list-products--brand">{{this.marca}}</p>
                            <p class="c-list-products--name">
                                {{this.dataValues.titulo}} - {{this.dataValues.descripcion}}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            {{/each}}
        </article>
        {{else}}
        <img src="{{URL}}/images/vacio.png" class="w-10/12 mx-auto md:w-9/12" alt="No se encontraron productos">
        {{/if}}
    </section>
</div>
<script>
    //Slider precios
        const price = document.querySelector('#price')
        const output = document.querySelector('.price-output')
        output.textContent = price.value
        price.addEventListener('input', function () {
            output.textContent = price.value
            document.getElementById('price').value = price.value
            filtrar();
        });

    function filtrar() {
        //Checkbox marcas
        let id_marca = []
        Array.from(document.getElementsByName('cboxname')).map(item => {
            if (item.checked) {
                id_marca.push(Number(item.value));
            }
        })
        //BODY
        let precio = Number((document.getElementById('price').value))
        let body = {id_marca, precio}
        //AJAX
        fetch(`${location.origin}/list-product-c/{{id_categoria}}`, {
            method: "post",
            body: JSON.stringify({ body }),
            headers: {
                "Content-Type": "application/json",
            },
        }).then(res => res.json()).then(data => {
            let articleHtml = ""
            data.products.map(item => {
                articleHtml += `
                <a class="c-list-products__grid--a shadow-lg" href="/product/${item.id}">
                <div class="c-list-products__grid-content">
                    <figure class="c-list-products__figure">
                        <img class="w-full h-full object-center object-cover" src="${item.imagen}">
                    </figure>
                    <div class="c-list-products__info">
                        <div class="c-list-products__info-content">
                            <p class="c-list-products--price">$${item.precio}</p>
                            <p class="c-list-products--brand">${item.marca}</p>
                            <p class="c-list-products--name">
                                ${item.titulo} - ${item.descripcion}
                            </p>
                        </div>
                    </div>
                </div>
            </a>
            `;
            })
            document.getElementById('productosJSON').innerHTML = articleHtml;
        });
    }
</script>
<script src="../js/filter.js"></script>
{{> footer}}