<div class="w-9/12 mx-auto rounded mb-7 flex flex-col-reverse">
    <div class="bg-gray-100 mt-1 p-3">
        {{#if @root.isown}}
        {{#unless question.respuesta}}
        <form class="flex items-center" action="/product/response-question" method="POST">
            <div class="w-4/5 m-login__c__content">
                <input class="w-11/12 border-gray-600 rounded py-2 px-4 border-4 border-black border-opacity-25"
                    name="respuesta">
                <input type="hidden" value="{{question.id}}" name="id_pregunta">
            </div>
            <button class="font-medium flex items-center justify-center h-12 w-1/5 bg-pink-300 rounded" type="submit"
                href="">Responder</button>
        </form>
        {{else}}
        <div class="c-user-questions__text">
            <p class="text-justify font-bold">
                {{question.respuesta}}
            </p>
        </div>
        {{/unless}}
        {{else}}
        <div class="c-user-questions__text">
            <p class="c-user-questions__text--description font-bold">
                {{question.respuesta}}
            </p>
        </div>
        {{/if}}
    </div>
    <div class="c-user-questions__answer">
        <div class="p-4 w-full bg-gray-200 rounded">
            <div class="c-user-questions__info-usuario">
                <img class="c-user-questions__info-usuario--imgs" src="{{question.avatar}}">
                <p class="c-user-questions__info-usuario--p">{{question.nombres}}</p>
            </div>
            <p class="pb-1 text-justify">
                {{question.pregunta}}
            </p>
        </div>
    </div>
</div>