{{> header_principal}}

<div class="flex items-center justify-between w-11/12 mx-auto pt-8">
    <button class="btn-option-admin" onclick="modalAdd(this)">Agregar marca</button>
    <a class="flex items-center justify-center py-2 px-4 bg-pink-300 duration-300 hover:bg-pink-500 rounded" href="/admin">
        <i class="fas fa-arrow-left pr-2"></i><b>Ir atras</b>
    </a>
</div>

<div class="c-list-admin c-container">
    <table class="c-list-admin__table container__content">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each landMarks}}
                <tr>
                    <td>{{this.dataValues.nombre}}</td>
                    <td>
                        
                        <a href="#" data-id-category="{{this.dataValues.id}}" onclick="modalEdit(this)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a href="/admin/delete-landMarks/{{this.dataValues.id}}" data-id-landMark="{{this.dataValues.id}}" onclick="modalDelete(this)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>

    <div id="modalAdd" style="display: {{showModal modal}};">
        {{> modals/add-landMark-modal}}
    </div>

    <div id="modalEdit" style="display: {{showModal modal}};">
        {{> modals/edit-landMark-modal}}
    </div>

    <div id="modalDelete" style="display: {{showModal modal}};">
        {{> modals/delete-category-modal}}
    </div>
</div>
<script src="../js/login-modal.js"></script>
<script src="../js/landMark-admin.js"></script>
{{> footer}}