{{> header_admin}}
<main class="container mx-auto">
    <div class="sm:flex items-center justify-between w-11/12 mx-auto pt-8">
        <h2>Lista usuarios</h2>
        <div class="flex items-center pt-4 sm:pt-0">
            <div class="flex items-center bg-gray-200 py-2 px-4 rounded-md mr-4">
                <input class="p-1 rounded-md" type="text" placeholder="Nombre usuario">
                <input class="cursor-pointer    ml-2 bg-pink-500 text-white rounded-sm py-1 px-3" value="Buscar" type="submit">
            </div>
            <a class="flex items-center justify-center py-3 px-4 bg-pink-300 duration-300 hover:bg-pink-500 rounded" href="/admin">
                <i class="fas fa-arrow-left pr-2"></i><b>Ir atras</b>
            </a>
        </div>
    </div>
    <section class="c-list-admin c-container">
        <table class="c-list-admin__table container__content">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Email</th>
                    <th>Fecha de registro</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td scope="row">{{this.nombres}}</td>
                    <td>{{this.apellidos}}</td>
                    <td>{{this.dni}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.createdAt}}</td>
                    <td><a href="/admin/make-seller/{{this.id}}" /><i class="fas fa-store"></i></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</main>
{{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> --}}
{{> footer_admin}}