{{> header_principal}}
<div id="modal"></div>

<section class="c-profile">
    <article class="container mx-auto md:flex sm:justify-between">
        {{> user/options_user }}
        <div class="py-14 mx-auto md:mx-0 w-11/12 md:w-9/12">
            <div class="c-favorito__grid">
                <h2>Mis preguntas</h2>
                {{#if questions}}
                {{#each questions}}
                <div class="c-user-shopping__div">
                    <div class="c-user-shopping__box">
                        <div class="w-full flex">
                            <a class="w-20 h-30 rounded mr-4" href="/product/{{this.id_producto}}">
                                <img class="w-full h-full object-center object-cover" src="{{imagen}}">
                            </a>
                            <div class="c-user-shopping__text">
                                <a href="/product/{{this.id_producto}}"></a>
                                <p class="c-user-shopping__text--name">{{this.titulo}}</p>
                                <p class="c-user-shopping__text--description">{{this.descripcion}}</p>
                                <p class="c-user-shopping__text--price">$ {{this.precio}} x 1 unidad</p>
                            </div>
                        </div>
                        <div class="c-user-question-answer">
                            <div class="w-full">
                                <p class="font-bold">Pregunta</p>
                                <p class="pt-4">{{this.pregunta}}</p>
                                {{#if this.respuesta}}
                                <div class="pt-4 flex">
                                    <a href="/store/{{this.id_tienda}}">
                                        <img class="w-10 h-10 rounded-full" src="{{imageStore this.imagen_tienda}}">
                                    </a>
                                    <p class="font-semibold pl-4 w-11/12">{{this.respuesta}}</p>
                                </div>
                                {{else}}
                                <h2>Esperando respuesta!</h2>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <img src="{{URL}}/images/vacio.png" alt="No se encontraron productos">
                {{/if}}
            </div>
        </div>
    </article>
</section>

{{> footer }}